/* General Styles */
html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #EAE9E7; /* Page background color */
    color: #555968; /* Font color */
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1440px; /* Max width for desktop */
    width: 100%; /* Full width until max-width is reached */
    margin: 0 auto; /* Center the container horizontally */
    padding: 24px; /* Optional: Padding to avoid touching the edges */
    padding-bottom: 0;
    box-sizing: border-box; /* Include padding in the width */
}

header {
    padding: 24px;
    background-color: #EAE9E7;
    position: relative; /* Allow absolute positioning of the Instagram icon */
}

header nav {
    width: 100%; /* Make the nav full width */
    display: flex;
    justify-content: center; /* Center the nav items */
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%; /* Ensure ul takes the full width */
    max-width: 684px;
    display: flex;
    justify-content: center; /* Center the ul content */
}

header nav ul li {
    width: 50%; /* Each list item takes 50% of the width */
    text-align: center; /* Center the content inside each li */
    max-width: 165px;
}

header nav ul li a {
    text-decoration: none;
    color: #555968;
    display: block;
    width: 100%; /* Ensure the link fills the li */
    padding: 0; /* Add some padding for better spacing */
}

h1 {
    font-size: 12px; /* Adjust font size as needed */
    text-align: center;
    margin: 0;
    margin-top: 18px;
}

.instagram-icon {
    width: 24px;
    height: 24px;
    background-image: url('img/Instagram.png'); /* Correct path to Instagram icon */
    background-size: cover;
    position: absolute;
    right: 12px; /* Align with the right edge of the content */
    bottom: 36px; /* Align with the bottom edge of the last drawing */
}

/* Portfolio grid layout */
.portfolio {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns on desktop */
    grid-column-gap: 24px; /* 24px gap between columns */
    grid-row-gap: 10px; /* 10px gap between rows */
    width: 100%; /* Ensure the grid takes up the full width */
    padding-top: 24px;
}

.portfolio-item {
    box-sizing: border-box; /* Include padding/margins in the width */
}

.portfolio-item img {
    width: 100%; /* Make images responsive */
    height: auto;
    object-fit: cover; /* Maintain aspect ratio */
    margin-bottom: -3px;
}

.portfolio-item p {
    margin: 0;
    font-size: 12px;
    color: #555968;
    text-align: left; /* Align text under the image */
}

/* Mobile View */
@media only screen and (max-width: 767px) {
    .portfolio {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile */
    }
}

/* Sticky footer */
footer {
    text-align: center;
    font-size: 10px;
    padding: 0;
    color: #555968;
    background-color: #EAE9E7;
    width: 100%;
    margin-top: auto; /* Push the footer to the bottom */
    padding-bottom: 14px;
    padding-top: 82px;
    border: 0;
}

/* Override conflicting media queries */
@media only screen and (min-width: 48em) {
    .container {
        width: 100% !important; /* Ensure full width */
        max-width: 1440px !important; /* Set the maximum width */
    }
}

@media only screen and (min-width: 62em) {
    .container {
        width: 100% !important;
        max-width: 1440px !important;
    }
}

@media only screen and (min-width: 75em) {
    .container {
        width: 100% !important;
        max-width: 1440px !important;
    }
}


/* Portfolio Item Page Specific Styles */
.portfolio-item-page {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the image and text */
    margin: 0 auto;
    padding: 0; /* Space around the content */
    max-width: 100%; /* Full width by default */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.portfolio-item-page img {
    max-width: 684px; /* Max width for desktop */
    max-height: 855px; /* Max height for desktop */
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    margin: 0;
    padding-top: 24px;
}

.text-container {
    display: flex;
    justify-content: space-between; /* Spread the content across the container */
    width: 100%; /* This will make the container the full width of its parent */
    max-width: 684px; /* Optional: Set a maximum width for larger screens */
    box-sizing: border-box;
    margin-top: 0; /* Space between the image and text */
}

.left-text, .right-text {
    font-size: 12px; /* Adjust as needed */
    color: #555968;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

/* Portfolio About Me Page Specific Styles */
.portfolio-about-page {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the image and text */
    margin: 0 auto;
    padding: 0; /* Space around the content */
    max-width: 100%; /* Full width by default */
    box-sizing: border-box; /* Ensure padding is included in the width */
}

.portfolio-about-page img {
    max-width: 330px; /* Max width for desktop */
    max-height: 412.5px; /* Max height for desktop */
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
    margin-bottom: 24px; /* Space between image and text */
    padding-top: 24px;
}

.portfolio-about-page p {
    font-size: 12px; /* Adjust as needed */
    color: #555968;
    text-align: justify; /* Justify the text within the element */
    margin: 0;
    max-width: 330px;
    max-height: 412.5px; /* Max height for desktop */
    padding-bottom: 15px;
}